body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list-item li {
  float: left;
  width: 25%;
}

.show {
  transition: opacity 0.5s;
  opacity: 1;
}

.hide {
  opacity: 0;
}

.clear {
  clear: both;
}